*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(237 242 247);
}

/* header */
.img-logo{
    text-align: center;
}

img{
    margin: auto;
    width: 400px;
}

/*container*/
.white-container{
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 50px;
}

.blue-container{
    background-color:rgb(237 242 247);
    width: 90%;
    margin: auto;
    padding-bottom: 50px
}

/* nav */
nav{
    text-align: center;
    margin-bottom: 5px;
    padding: 20px;
}

input, button{
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid lightgray;
}

input{
    width: 50%;
}

button{
    background-color: rgb(20 170 245);
    color: white;
}

/*main*/
ul{
    list-style-type: none;
}
.list-titles {
    padding-top: 30px;
    width: 90%;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
}

.item{
    font-size: 30px;
    margin: 5px 30px;
    padding: 15px;
    background-color: white;
}

.done{
    text-decoration: line-through;
}
.editorial, .goals, .recruiting, .mobile, .website, .sales{  
    border-radius: 20px;
    padding: 10px; 
    color: white;
}
.editorial{
   background-color: rgb(9 169 237);
}

.goals{
    background-color: rgb(171 93 230);
}

.recruiting{
    background-color: rgb(44 198 171);
}

.mobile{
    background-color: rgb(255 155 0);
}

.website{
    background-color: rgb(236 74 157);
}

.sales{
    background-color: rgb(163 209 22);
}

/*checks and crosses*/
.check, .cross{
    font-size: 20px;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.check{
    color: green;
    border: 2px solid green;
}

.cross{
    color: red;
    border: 2px solid red;
}